name: Documentation
on:
  push:
    branches: [master]
    tags: '*'
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # Fix for Plots with GR backend, see https://github.com/JuliaPolyhedra/Polyhedra.jl/pull/265
      GKSwstype: nul
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          # Build documentation on the latest Julia 1.x
          version: '1'
      - name: SymbolicWedderburn#master
        shell: julia --project=@. {0}
        run: |
          using Pkg
          Pkg.add(PackageSpec(name="SymbolicWedderburn", rev="master"))
      - name: Install dependencies
        run: julia --project=docs/ -e 'using Pkg; Pkg.instantiate();
                                       Pkg.add("DynamicPolynomials");
                                       Pkg.develop(PackageSpec(path=pwd()))'
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
        run: julia --project=docs/ docs/make.jl
